<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View: EditForm</title>
    <script src="../../dist/toolkit.js"></script>
</head>
<body>

    <div class="js-edit-form"></div>

    <script>
      (function () {
        'use strict';
          const editNote = {
              title: 'Заголовк Р',
              noteText: 'Текст заголовка'
          };
          const viewCard = {
              title: 'Заголовок 1',
              noteText: 'Текст заголовка'
          };
          const notes = [{
              noteid: 1,
              title: 'Заголовок1',
              noteText: 'Текст заметки1'
          }, {
              noteid: 2,
              title: 'Заголовок2',
              noteText: 'Текст заметки2'
          }, {
              noteid: 3,
              title: 'Заголовок3',
              noteText: 'Текст заметки3'
          }];
          const viewForm = {
              viewCard: viewCard,
              notes: notes
          };
          const activeForm = 'add';
          ReactDOM.render(
              <MainForm activeForm={activeForm} editNote={editNote} viewForm={viewForm}/>,
              document.getElementById('root')
          );
      })();

    </script>

</body>
</html>